<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>User page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-dark bg-dark" style="display: block; color: white">
    <a class="navbar-brand">
        <b th:text=" ${user.getEmail()} "/>
        with roles: <a th:text=" ${user.getRole()} "/>
    </a>
    <input type="button" style="float: right; color: gray" class="btn btn-dark" value="Logout"
           onclick="window.location.href = '/logout'"/>
</nav>

<div class="container-fluid" style="background-color: white">
    <div class="row">
        <div class="col-lg-2 navbar-container bg-light" style="height: 100vh; padding-right: 0; padding-left: 0;">
            <nav class="navbar navbar-expand-md navbar-light"
                 style="background-color: white; width: 100%; align-items: flex-start; height: 100%; padding: 15px 0">
                <div class="collapse navbar-collapse" id="navbar" style="flex-wrap: wrap; padding: 15px 0">
                    <a th:if="${user.getRole().contains('ADMIN') }"  class="btn btn-link" style="text-align: left"
                       href="/admin/user">Admin</a>
                    <a class="btn btn-primary btn-lg btn-block" style="text-align: left" href="/admin/home">User</a>
                </div>
            </nav>
        </div>
        <div class="card col-lg-10 content-container" style="background-color: #f8f9fa; border: none; padding-top: 15px">
            <h1>User information-page</h1>
        <div class="card">
            <h5 class="card-header">About user </h5>
            <div style="padding: 20px">
                <div style="background-color: white">
                    <div class="card" style="border: none">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Password</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user: ${user}">
                                <td th:text="*{user.username}"/>
                                <td th:text="*{user.email}"/>
                                <td th:text="*{user.password}"/>
                                <td th:text="*{user.role}"/>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>